# mist-ignore dirs
ui/
unit-tests/
tests/

# CI
.codeclimate.yml
.travis.yml
.gitlab-ci.yml

# Docker
docker-compose.yml
.docker

.dockerignore
*/.dockerignore
*/*/.dockerignore
*/*/*/.dockerignore

*Dockerfile
*/Dockerfile
*/*/Dockerfile
*/*/*/Dockerfile

bower_components/

# Ignore .git
.git/
*/.git/
*/*/.git/
*/*/*/.git/
*/*/*/*/.git/

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
bin/
data/
*.egg-info/
*/*.egg-info/
*/*/*.egg-info/
.installed.cfg
*.egg
*/*.egg
*/*/*.egg
.mr.developer.cfg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Virtual environment
.env/
.venv/
venv/

# PyCharm
.idea

# Python mode for VIM
.ropeproject
*/.ropeproject
*/*/.ropeproject
*/*/*/.ropeproject

# Vim swap files
*.swp
*/*.swp
*/*/*.swp
*/*/*/*.swp

# Vagrant
.vagrant/

*.png

