<div id="side-menu"
    class="mist-panel ui-panel ui-panel-position-left
    ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-open">

    <div class="ui-panel-inner">

        <!--

            NAVIGATION

        -->

        <ul id="side-menu-navigation" data-role="listview" data-inset="true">
            <li data-icon="false">
                {{#link-to "index"}}Home{{/link-to}}
            </li>
            <li data-icon="false">
                {{#link-to "machines"}}Machines
                    <span class="ui-li-count">
                        {{Mist.backendsController.machineCount}}
                    </span>
                {{/link-to}}
            </li>
            <li data-icon="false">
                {{#link-to "images"}}Images
                    <span class="ui-li-count">
                        {{Mist.backendsController.imageCount}}
                    </span>
                {{/link-to}}
            </li>
            <li data-icon="false">
                {{#link-to "keys"}}Keys
                    <span class="ui-li-count">
                        {{Mist.keysController.content.length}}
                    </span>
                {{/link-to}}
            </li>
        </ul>


        <!--

            MACHINE CONTROLS

        -->


        <div id="side-menu-machine">

        </div>
    </div>
</div>

<div id="side-menu-overlay" {{action "overlayClicked" target="view"}}></div>
