<div id="template-run"
    class="large-popup"
    data-role="popup"
    data-position="right"
    data-display="overlay"
    data-overlay-theme="b"
    data-transition="slideup">

    <div id="run-template"
         class="large-popup
            ui-popup
            ui-body-a
            ui-overlay-shadow
            ui-corner-all"
         data-role="popup"
         data-enhanced="true">

        <div class="ui-header ui-bar-b ui-caps">
            <h1 class="ui-title">Run template</h1>

            <a href="javascript:void(0)" class="close" data-rel="back">&#10005;</a>
        </div>

        <div data-role="content" data-theme="a">

            <div class="form-field">
                <label for="template-params">Inputs</label>
                {{view Mist.TextArea
                    data-theme="a"
                    id="template-params"
                    value=Mist.templateRunController.templateToRun.parameters}}
            </div>

            {{#if Mist.templatesController.runningTemplate}}
                <div class="ajax-loader"></div>
            {{/if}}

            <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
                <a id="new-template-ok" data-theme="d"
                    class="ui-btn ok-only ui-btn-d ui-caps"
                    {{action "runClicked" target=view}}>Run</a>
            </div>
        </div>
    </div>
</div>
