.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 3001;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
}
.md-modal.tiny-popup {
    width: 150px !important;
}
.md-modal.very-small-popup {
    width: 200px !important;
}
.md-modal.small-popup {
    width: 240px !important;
}
.md-modal.mid-popup {
    width: 255px !important;
}
.md-modal.large-popup {
    width: 290px !important;
}
.md-modal.huge-popup {
    width: 100% !important;
}
.md-show {
    visibility: visible;
}
.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 3000;
    opacity: 0;
    background: rgba(0,0,0,0.4);
    transition: all 0.3s;
}
.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

/* Content styles */

.md-content {
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.md-body {
    color: #000;
    background: #faf9f4;
    position: relative;
    border-radius: 0;
    margin: 0 auto;
    padding: 12px 16px;
}
.md-title {
    border-radius: 0;
    background-color: #d4d4d4;
    position: relative;
}
.md-title .close {
    position: absolute;
    right: 16px;
    top: 11px;
    color: rgba(0,0,0,0.2);
    font-size: 22px;
    text-decoration: none;
    outline: none;
    font-size-adjust: 0.7;
}
.md-title h1 {
    color: #000;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
}
.md-body > div {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
}
.md-body > div p {
    margin: 0;
    padding: 10px 0;
}
.md-body .ui-btn {
    display: block;
    margin: 0 auto;
}

/* Individual modal styles with animations/transitions */


/* Effect 1: Fade in and scale up */

.md-effect-1 .md-content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
